.wrapper{
height: 700px;
width: 100%;
margin-left: 9px;

}
.car{
    z-index: 1;
height: 500px;
width: 80%;
background-color: aqua;
margin-top: 300px;
border-radius: 29%;
flex-direction: row;
position: relative;
animation: move 3s ease-in-out 1s infinite alternate forwards;
}
.KOLESO{
height: 80px;
width: 80px;
background-color: black;
border-radius: 50%;
position: absolute;
top: 456px;
}
.left{
right: 100px;
}
.right{
right: 890px;
}
.rama-okoshka{
width: 100%;
height: 220px;
background-color: brown;
z-index: 10000;
border-radius: 15%;
position: absolute;
/* right: 700px;
bottom: 200px; */
display: flex;
}
.okoshko{
width: 150px;
height: 150px;
margin: 20px;

z-index: 1123123123;
background-image: url(/Без\ названия.jfif);
border-radius: 10%;
}
@keyframes move{
from{
left: -100px;
}
to{
left: 900px;
}
}
.plov{
background-image: url(/Без\ названия.jfif);
}
.zona{
background-image: url(/images.jfif);
}
.bog{
background-image: url(/images\ \(1\).jfif);
}
.ludskoe{
height: 200px;
width: 100%;
background-color: gray;
position: absolute;
top: 800px;
}
body{
background-color: skyblue;
}