.button {
    width: 180px;
    height: 65px;
    background-color: whitesmoke;
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

.cian {
    background-color: skyblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bigsquare {
    width: 1440px;
    height: 650px;
    background-color: darkgray;
    flex-direction: row;
    margin-left: 225px;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.smallsquare {
    width: 1440px;
    height: 150px;
    background-color: rgb(241, 237, 237);
    margin-top: 305px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.minisquare {
    width: 55px;
    height: 55px;
    background-color: skyblue;
    text-align: center;
    font-size: 35px;
}

.text {
    flex-direction: row;
    padding: 0px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 20px;
}

h1 {
    margin-left: 50px;
    padding-top: 70px;
    font-size: 50px;
}

h3 {
    margin-left: 50px;
}

.box {
    width: 400px;
    height: 55px;
    flex-direction: row;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.article {
    width: 690px;
    height: 300px;
    margin-left: 145px;
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
}

.beautifulsquare {
    width: 200px;
    height: 55px;
    background-color: rgb(224, 223, 223);
    margin-left: 10px;
}

.container {
    width: 1440px;
    height: 150px;
    margin-left: 225px;
    display: flex;
    flex-direction: row;
}

.containerforhedder {
    display: flex;
    flex-direction: column;
}

.header__high {
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_for_high_hedder {
     gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}
header{
    display: flex;
    flex-direction: column;
}
.search{
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;  
    border-color: gray;
    margin: 0px;
    
}
.header_border {
    background-color: rgb(18, 184, 255);
    border: none;
    margin: 0;
    padding: 10px 15px;
}

/* YFXFKJ*/
.main__info-head {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; 
}
.main__info {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px; 
    width: 1440px;
    height: 650px;
    margin-left: 225px;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blue__block {
    width: 20px;
    height: 20px;
    background-color: skyblue;
}
.main__info-kard {
    display: flex;
    gap: 20px;
    width: 100%;
}
.main__img {
    width: 250px;
    height: 250px;
    background-color: rgb(238, 237, 237);
    flex-shrink: 0;
}
.main_info-description {
    opacity: 0.8;
    font-size: 14px;
    padding: 5px;
}
.container_for_box{
    display: flex;
    flex-direction: row;
}
.main__img_small{
    width: 50px;
    height: 50px;
    background-color: rgb(224, 2, 2);
    flex-shrink: 0;
}
.mini_mini_square{
    height: 30px;
    height: 30px;
    background-color: blanchedalmond;
}
.main_info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    flex-grow: 1;
    max-width: 500px;
}
.info-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.square_for_low{
    width: 30px;
    height: 30px;
    background-color:gray;
}
.text_for_low{
    padding: 10px;
    margin: 0px;
}
.container_for_footer {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
.footer__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e4e4e4;
}

.footer__text {
    font-size: 14px;
    color: #bfbfbf;
    line-height: 1.5;
}
.footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
    gap: 40px;
    align-items: start;
}
.footer__column {
    display: flex;
    flex-direction: column;
}
.sitemap__links {
    display: flex;
    gap: 30px;
}
.sitemap__col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sitemap__col a {
    font-size: 14px;
    color: #bfbfbf;
    text-decoration: none;
}

.sitemap__col a:hover {
    color: #12B8FF;
}

.social__icons-high {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.social__icon {
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #5a5a5a;
}

.high {
    width: 42px;
    height: 42px;
}

.low {
    width: 26px;
    height: 26px;
}
.social__icon:hover {
    background-color: #12B8FF;
}

.footer__logo {
    font-size: 25px;
    color: #e4e4e4;
    margin-bottom: 10px;
}

.footer__copyright {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.high img {
    width: 42px;
    height: 42px;
    object-fit: contain;
    border-radius: 4px;
}

.low img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 4px;
    margin: 5px;
}
.footer {
    background-color: #928b8b;
    border-top: 0.5% solid #ccc;
}