.mainblock{
display: flex;
flex-direction: column;
max-width: 100%;
align-items: center;
background-color: rgb(200, 238, 129);
border-radius: 2%;
}
.row{
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 1000px;
align-items: center;
gap: 10px;
}
.block{
max-width: 300px;   
padding: 10px;
justify-content: center;
font-size: 1.3em;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: rgb(32, 223, 230);
border-radius: 7%;
}
@media(max-width:1200px){
.block{
max-width: 300px;
}
.row{
max-width: 700px;
}
}
@media(max-width:700px){
.block{
max-width: 350px;
}
}
.highrow{
max-width: 100%;
padding: 0px;
background-color: #f2f2f2;
font-size: 2em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
flex-direction: row;
border-radius: 4%;
}
.logo{
    max-width: 100%;
    margin-left: 100px;
    background-color: #ffffff;
    font-size: em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
